*.pyc
*.py~
*.pkl
*.txt
*.pt
*.pth
*.ckpt
*.swap

data/*
results/*
results.old/*
tmp/*
*.png
*.pdf 
__pycache__
run_baseline.py
run_neural_baseline.py
mini_main.py
main_old.py
main.py
*.ipynb
dev_main.py
!/data/meta/
